*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width:80%;
    padding: 34px;
    margin:auto;

}
.container h3,p{
    text-align: center;
    color: aliceblue;
    font-size: larger;
}
p{
    font-size:17px;
    font-size: larger;
}
input, textarea{
    border:2px solid black;
    border-radius: 8px;
    outline:none;
    width:80%;
    font-size:16px;
    margin:11px 0px;
    padding:7px;
    opacity:.7;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color:white;
    background: grey;
    padding: 8px 12px;
    font-size: 20px;
    border:2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
.back{
    width: 100%;
    position: absolute;
    z-index:-1;
}
.submitMsg{
    color:yellow;
    font-size: 25px;
    box-shadow: 0cm;
}